<div class="multiselect-parent btn-group dropdown dropdown-multiselect" ng-class="{open: open}">
   <div ng-transclude="toggleDropdown" ng-click="toggleDropdown()">
     <button ng-disabled="disabled" type="button" class="dropdown-toggle" ng-class="settings.buttonClasses">{{getButtonText()}}</button>
   </div>
   <ul class="dropdown-menu" ng-if="open" ng-style="{display: open ? 'block' : 'none', height : settings.scrollable ? settings.scrollableHeight : 'auto', overflow: 'auto' }">
    <li class="dropdown-item" ng-if="settings.showCheckAll && settings.selectionLimit === 0">
      <a ng-keydown="keyDownLink($event)" style="text-decoration: none; cursor: pointer;" data-ng-click="selectAll()" tabindex="-1" id="selectAll">
        <i class="fa fa-check"></i>
        {{texts.checkAll}}
      </a>
    <li class="dropdown-item" ng-if="settings.showUncheckAll">
      <a ng-keydown="keyDownLink($event)" style="text-decoration: none; cursor: pointer;" data-ng-click="deselectAll();" tabindex="-1" id="deselectAll">
        <i class="fa fa-trash-alt"></i>
        {{texts.uncheckAll}}
      </a>
    </li>
    <li class="dropdown-divider" ng-if="settings.selectByGroups && ((settings.showCheckAll && settings.selectionLimit > 0) || settings.showUncheckAll)"></li>
    <li class="dropdown-item" ng-repeat="currentGroup in settings.selectByGroups track by $index" ng-click="selectCurrentGroup(currentGroup)">
      <a ng-class="{'dropdown-selected-group': selectedGroup === currentGroup}" tabindex="-1">
        {{::texts.selectGroup}} {{::getGroupLabel(currentGroup)}}
      </a>
    </li>
    <li class="dropdown-divider" ng-if="settings.selectByGroups && settings.showEnableSearchButton">
    </li>
    <li class="dropdown-divider" ng-if="settings.showEnableSearchButton && settings.enableSearch">
      <a ng-keydown="keyDownLink($event); keyDownToggleSearch();" style="text-decoration: none; cursor: pointer;" ng-click="toggleSearch($event);" tabindex="-1">
        {{texts.disableSearch}}
      </a>
    </li>
    <li class="dropdown-item" ng-if="settings.showEnableSearchButton && !settings.enableSearch">
      <a ng-keydown="keyDownLink($event); keyDownToggleSearch();" style="text-decoration: none; cursor: pointer;" ng-click="toggleSearch($event);" tabindex="-1">
        {{texts.enableSearch}}
      </a>
    </li>
    <li class="dropdown-divider" ng-if="(settings.showCheckAll && settings.selectionLimit > 0) || settings.showUncheckAll || settings.showEnableSearchButton"></li>
    <li ng-if="settings.enableSearch">
      <div class="dropdown-header">
        <input type="text" class="form-control searchField" ng-keydown="keyDownSearchDefault($event); keyDownSearch($event, input.searchFilter);" ng-style="{width: '100%'}" ng-model="input.searchFilter" placeholder="{{texts.searchPlaceholder}}" />
      </div>
    </li>
    <li class="dropdown-divider" ng-if="settings.enableSearch"></li>
    <li class="dropdown-header" ng-if="settings.groupBy" ng-repeat-start="option in orderedItems = ( options | filter:getFilter(input.searchFilter) | orderBy:'':false:orderFunction)" ng-show="getPropertyForObject(option, settings.groupBy) !== getPropertyForObject(orderedItems[$index - 1], settings.groupBy)" role="presentation">
      {{ getGroupLabel(getPropertyForObject(option, settings.groupBy)) }}
    </li>
    <li class="dropdown-item" ng-if="settings.groupBy" ng-class="{'active': isChecked(option) && settings.styleActive}" ng-repeat-end role="presentation">
      <a ng-keydown="option.disabled || keyDownLink($event)" style="text-decoration: none; cursor: pointer;" role="menuitem" class="option" tabindex="-1" ng-click="option.disabled || setSelectedItem(option, false, true)" ng-disabled="option.disabled">
        <div ng-if="settings.checkBoxes" class="checkbox">
          <label>
            <input class="checkboxInput" type="checkbox" ng-click="checkboxClick($event, option)" ng-checked="isChecked(option)" />
            <span dm-dropdown-static-include="{{settings.template}}"></span>
          </label>
        </div>
        <span ng-if="!settings.checkBoxes" data-ng-class="{'fa fa-check': isChecked(option)}">
        </span>
        <span dm-dropdown-static-include="{{settings.template}}"></span>
      </a>
    </li>
    <li class="dropdown-item" ng-if="!settings.groupBy" ng-class="{'active': isChecked(option) && settings.styleActive}" role="presentation" ng-repeat="option in options | filter:getFilter(input.searchFilter) | orderBy:'':false:orderFunction">
      <a ng-keydown="option.disabled || keyDownLink($event)" style="text-decoration: none; cursor: pointer;" role="menuitem" class="option" tabindex="-1" ng-click="option.disabled || setSelectedItem(option, false, true)" ng-disabled="option.disabled">
        <div ng-if="settings.checkBoxes" class="checkbox">
          <label>
            <input class="checkboxInput" type="checkbox" ng-click="checkboxClick($event, option)" ng-checked="isChecked(option)" />
            <span dm-dropdown-static-include="{{settings.template}}"></span>
          </label>
        </div>
        <span ng-if="!settings.checkBoxes" data-ng-class="{'fa fa-check': isChecked(option)}">
        </span>
        <span ng-if="!settings.checkBoxes" dm-dropdown-static-include="{{settings.template}}"></span>
      </a>
    </li>
    <li class="dropdown-divider" ng-show="settings.selectionLimit > 1">
    </li>
    <li class="dropdown-item" role="presentation" ng-show="settings.selectionLimit > 1">
      <a role="menuitem">{{selectedModel.length}} {{texts.selectionOf}} {{settings.selectionLimit}} {{texts.selectionCount}}</a>
    </li>
  </ul>
</div>
